<div class="card-filters">
    {{ form_start(formFilters) }}
        {{ form_widget(formFilters.name) }}
        {{ form_row(formFilters.code) }}
        {{ form_row(formFilters.submit) }}
    {{ form_end(formFilters) }}
</div>
