{% extends 'layout_small.html.twig' %}

{% block title %}
    {% if (form.vars.data.id) %}{{ 'admin-user.edit.title'|trans }}{% else %}{{ 'admin-user.new.title'|trans }}{% endif %}
{% endblock title %}

{% block container %}
    <h2>{% if (form.vars.data.id) %}{{ 'admin-user.edit.title'|trans }}{% else %}{{ 'admin-user.new.title'|trans }}{% endif %}</h2>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.firstname, {
                    'label': 'admin-user.form.firstname'
                }) }}
                {{ form_row(form.lastname, {
                    'label': 'admin-user.form.lastname'
                }) }}
                {% if (form.offsetExists('username')) %}
                    {{ form_row(form.username, {
                        'label': 'admin-user.form.username'
                    }) }}
                {% endif %}
                {% if (form.offsetExists('password')) %}
                    {{ form_row(form.password) }}
                {% endif %}
                {{ form_row(form.role, {
                    'label': 'admin-user.form.role'
                }) }}
                {{ form_widget(form.back, {
                    'label': 'generic.form.back',
                    'attr': {
                        'class': 'btn-secondary btn-sm',
                        'onclick': ppboxRedirect(path('admin_user'))
                    }
                }) }}
                {{ form_widget(form.save, {
                    'label': 'generic.form.save',
                    'attr': {
                        'class': 'btn-primary btn-sm'
                    }
                }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock container %}