{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ 'admin-user.list.title'|trans }}
{% endblock title %}

{% block main %}
    <h2>{{ 'admin-user.list.title'|trans }}
        <button type="button" class="btn btn-sm btn-info" onclick="{{ ppboxRedirect(path('admin_user_new')) }}">
            <span class="oi oi-play-circle"></span> {{ 'admin-user.list.new'|trans }}
        </button>
    </h2>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-listing">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center d-none d-sm-none d-md-table-cell" scope="col">{{ 'admin-user.list.firstname'|trans }}</th>
                    <th class="text-center d-none d-sm-none d-md-table-cell" scope="col">{{ 'admin-user.list.lastname'|trans }}</th>
                    <th class="text-center" scope="col">{{ 'admin-user.list.username'|trans }}</th>
                    <th class="text-center" scope="col">{{ 'admin-user.list.role'|trans }}</th>
                    <th class="text-center" scope="col">{{ 'admin-user.list.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td class="text-center {% if user.isActive == 0 %}bg-warning{% endif %}" scope="row">
                        {% if user.isActive == 0 %}
                            <span class="oi oi-warning" title="{{ 'admin-user.list.isnotactive'|trans }}" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td class="text-center d-none d-sm-none d-md-table-cell">
                        {{ user.firstname }}
                    </td>
                    <td class="text-center d-none d-sm-none d-md-table-cell">
                        {{ user.lastname }}
                    </td>
                    <td class="text-center">
                        {{ user.username }}
                    </td>
                    <td class="text-center">
                        {% if user.role == 'ROLE_ADMIN' %}
                            {% set class = 'dark' %}
                        {% elseif user.role == 'ROLE_USER' %}
                            {% set class = 'info' %}
                        {% else %}
                            {% set class = 'secondary' %}
                        {% endif %}
                        <span class="badge badge-{{ class }}">{{ user.role }}</span>
                    </td>
                    <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                        <button type="button" class="btn btn-sm btn-outline-info" onclick="{{ ppboxRedirect(path('admin_user_edit', {'id': user.id})) }}">
                            <span class="oi oi-pencil"></span> {{ 'generic.list.edit'|trans }}
                        </button>
                        {% if user.isActive == 0 %}
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="{{
                                ppboxConfirm('generic.diag-confirm.title'|trans,
                                    'generic.diag-confirm.message'|trans,
                                    'default',
                                    'sm',
                                    {text: 'generic.diag-confirm.confirm'|trans, redirect: path('admin_user_enable', {'id': user.id}) },
                                    {text: 'generic.diag-confirm.cancel'|trans })}}">
                                <span class="oi oi-thumb-up"></span> {{ 'generic.list.enable'|trans }}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="{{
                            ppboxConfirm('generic.diag-confirm.title'|trans,
                                'generic.diag-confirm.message'|trans,
                                'default',
                                'sm',
                                {text: 'generic.diag-confirm.confirm'|trans, redirect: path('admin_user_disable', {'id': user.id}) },
                                {text: 'generic.diag-confirm.cancel'|trans })}}">
                                <span class="oi oi-thumb-down"></span> {{ 'generic.list.disable'|trans }}
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-outline-danger" onclick="{{ ppboxRedirect(path('admin_user_remove', {'id': user.id})) }}">
                            <span class="oi oi-trash"></span> {{ 'generic.list.delete'|trans }}
                        </button>
                    </td>
                    <td class="text-center d-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-none">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'admin-user.list.action'|trans }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{{ ppboxRedirect(path('admin_user_edit', {'id': user.id})) }}">
                                    <span class="oi oi-pencil"></span> {{ 'generic.list.edit'|trans }}
                                </a>
                                {% if user.isActive == 0 %}
                                    <a class="dropdown-item" href="#">
                                        <span class="oi oi-thumb-up"></span> {{ 'generic.list.enable'|trans }}
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="#">
                                        <span class="oi oi-thumb-down"></span> {{ 'generic.list.disable'|trans }}
                                    </a>
                                {% endif %}
                                <a class="dropdown-item" href="#">
                                    <span class="oi oi-trash"></span> {{ 'generic.list.delete'|trans }}
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}