{% extends 'layout_admin.html.twig' %}

{% block title %}
    {{ 'delegation.list.title'|trans }}
{% endblock title %}

{% block main %}
    <form method="post">
        <div class="card card-listing">
            <div class="card-header">
                <h2>
                    {{ 'delegation.list.title'|trans }}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-info" onclick="{{ ppboxRedirect(path('delegation_new')) }}">
                            <span class="oi oi-play-circle"></span> {{ 'delegation.list.new'|trans }}
                        </button>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button id="btnGroupDropdown" type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDropdown">
                                <a class="dropdown-item" href="{{ path('delegation_new') }}">
                                    <span class="oi oi-play-circle"></span> {{ 'delegation.list.new'|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('delegation_import') }}">
                                    <span class="oi oi-play-circle"></span> {{ 'delegation.list.import'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="card-body">
                {% include 'pagination.html.twig' with {'pager': pager} %}
                {% if (pager.count == 0) %}
                    <div class="alert alert-info">
                        {{ 'generic.list.no_result'|trans }}
                    </div>
                {% else %}
                    <table class="table table-hover table-listing">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input pp-check-uncheck-all" data-check="{{ 'generic.list.check_all'|trans }}" data-uncheck="{{ 'generic.list.uncheck_all'|trans }}" title="">
                                </div>
                            </th>
                            <th class="text-center" scope="col">{{ 'delegation.list.code'|trans }}</th>
                            <th class="text-center" scope="col">{{ 'delegation.list.name'|trans }}</th>
                            <th class="text-center" scope="col">{{ 'generic.list.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for delegation in pager.iterator %}
                        <tr>
                            <td class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input pp-check-uncheck-id" data-id="{{ delegation.id }}" title="">
                                </div>
                            </td>
                            <td class="text-center">
                                {{ delegation.name }}
                            </td>
                            <td class="text-center">
                                {{ delegation.code }}
                            </td>
                            <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                                <button type="button" class="btn btn-sm btn-outline-info" onclick="{{ ppboxRedirect(path('delegation_edit', {'id': delegation.id})) }}">
                                    <span class="oi oi-pencil"></span> {{ 'generic.list.edit'|trans }}
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger" onclick="{{
                                ppboxConfirm('generic.diag-confirm.title'|trans,
                                    'generic.diag-confirm.message'|trans,
                                    'danger',
                                    'sm',
                                    {text: 'generic.diag-confirm.confirm'|trans, redirect: path('delegation_remove', {'id': delegation.id}) },
                                    {text: 'generic.diag-confirm.cancel'|trans })}}">
                                    <span class="oi oi-trash"></span> {{ 'generic.list.delete'|trans }}
                                </button>
                            </td>
                            <td class="text-center d-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-none">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ 'delegation.list.action'|trans }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#" onclick="{{ ppboxRedirect(path('delegation_edit', {'id': delegation.id})) }}">
                                            <span class="oi oi-pencil"></span> {{ 'generic.list.edit'|trans }}
                                        </a>
                                        <a class="dropdown-item" href="#"  onclick="{{
                                        ppboxConfirm('generic.diag-confirm.title'|trans,
                                            'generic.diag-confirm.message'|trans,
                                            'danger',
                                            'sm',
                                            {text: 'generic.diag-confirm.confirm'|trans, redirect: path('delegation_remove', {'id': delegation.id}) },
                                            {text: 'generic.diag-confirm.cancel'|trans })}}">
                                            <span class="oi oi-trash"></span> {{ 'generic.list.delete'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock main %}