<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <a class="navbar-brand col-sm-1 mr-0" href="{{ path('index') }}">{{ 'navbar.navbar-brand'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="mr-auto"></div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            {% for item in navbar %}
                {% if (item.hasChildren) %}
                {% else %}
                    <li class="nav-item {% if item.isActive %}active{% endif %}">
                        <a class="nav-link" href="{{ path(item.route) }}">{{ item.translationKey|trans }}</a>
                    </li>
                {% endif %}
            {% endfor %}
    
            {% if user %}
                <li class="nav-item dropdown user user-menu">
                    <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="" class="user-image" alt="">
                        <span class="hidden-xs">{{ user.getFirstname }} {{ user.getLastname }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="user-header">
                            <img src="" class="img-circle" alt="">
                            <p>
                                {{ user.getFirstname }} {{ user.getLastname }}
                            </p>
                        </li>
                        {#<li class="user-body">#}
                        {#</li>#}
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-outline-info">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('logout') }}" class="btn btn-sm btn-outline-secondary">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>